{% extends 'employee/base.html' %}


{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Project</h3>
                    </div>
                    <!-- /.card-header -->
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            
                    <form method="POST" action="{% url 'add_project' %}?id={{user.id}}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Project title <span class="text-red">*</span></label>
                                    <input type="text" class="form-control" id="customFile" name="title" >
                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                            
                                <div class="form-group">
                                <label>Start Date</label>
                            <input type="date" class="form-control" placeholder="Select Date" name="start_date" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                            
                                <div class="form-group">
                                    <label>Status</label>
                                    <div class="form-group mb-0">
                                        <div class="radio">
                                            <label><input type="radio" name="status" value= 1 onclick="text1()"> Active</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="status" value=0 onclick="text2()" checked> Completed</label>
                                        </div>
                                        <div class="col-xl-3 col-xxl-6 col-md-6 mb-3" id="mycode">
                                            <label>End Date</label>
                                            <input type="date" class="form-control-lg" placeholder="Select Date" name="End_date" id='End_date' required>
                                        </div>
                                     </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label>Project Details</label>
                                    <textarea class="form-control" rows="4" id="comment" name="task_details" required=""></textarea>
                                </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                    <button type="submit" class="btn btn-rounded btn-info  btn-md">SUBMIT PROJECT DETAILS</button>
                        
                        </div>

                    </form>

                    </div>
                    <!-- /.card -->



                </div>
            </div>

        
        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}
<script>
    function text1() {
        document.getElementById("mycode").classList.add("d-none");   
        document.getElementById("mycode").classList.remove("d-block");   
        document.getElementById('End_date').required = false; 
    }

    function text2() {
        document.getElementById("mycode").classList.add("d-block"); 
        document.getElementById("mycode").classList.remove("d-none");   
        document.getElementById('End_date').required = true; 
    }
</script>
{% endblock custom_js %}

