{% extends 'employee/base.html' %}


{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Task</h3>
                    </div>
                    <!-- /.card-header -->

                    
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            
                    <form method="POST" action="{% url 'add_task' %}?id={{user.id}}">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Select Task Type <span class="text-red">*</span></label>
                                    <select class="form-control form-select select2" data-bs-placeholder="Select" name="task_val" >
                                        <option value="" selected>Select task </option>
                            
                                        {%  for i in choice %}
                                          <option value="{{i}}">{{i}}</option>
                                  
                                          {% endfor %}
                                          
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                            
                                <div class="form-group">
                                    <label class="form-label">Choose files/Screenshot <span class="text-red">*</span></label>
                                    <input type="file" class="form-control" placeholder="Upload cv" name="file">
                                </div>
                            </div>
                            </div>
                            <div class="col-md-12">

                            <label for="task">Task Details:</label>

                            <textarea id="task" name="taskdetail" rows="4" cols="50">
                            </textarea></div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Create Task</button>
                        </div>

                    </form>

                    </div>
                    <!-- /.card -->



                </div>
            </div>

        
        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}

{% endblock custom_js %}