{% extends 'employee/base.html' %}
{% load static %}


{% block custom_css %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    p.demo {
      text-align: center;
      font-size: 20px;
      margin-top: 0px;
    }
    </style>

{% endblock custom_css %}
{% block punch %}
<form  method="POST">
    {% csrf_token %}
  {% if mark == True %}
<button type="submit" id='punch_out' name="btn" value="out" class="btn btn-danger" onclick="punchout()" >Punchout</button>

{% else %}
<button type="button" id='punch' name="punchin" value="in" class="btn btn-danger" onclick="out()" >Punchin</button>

{% endif %}


  </form>
  {% endblock punch %}

{% block main_content %}
<div class="row">
    <div class="col-lg-3 col-6 mt-5">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ project_count }}</h3>

          <p> Projects</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'show_pjct_rep' %}?name={{user.username}}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6 mt-5">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{ task_count }}</h3>

          <p>Tasks</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'show_task_rep' %}?name={{user.username}}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    
    <div class="col-lg-3 col-6 mt-5 ">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{ attendence_count }}</h3>

          <p>Attendance</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'show_attendence' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6 mt-5 ">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{ pending_leave_count }}</h3>

          <p>Pending leave </p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'emp_leave_views' 0 %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-3 col-6 mt-5">
    <!-- small box -->
    <div class="small-box bg-dark">
      <div class="inner">
        <h3>{{ accept_leave_count }}</h3>

        <p> Accepted leave</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="{% url 'emp_leave_views' 1 %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-3 col-6 mt-5">
    <!-- small box -->
    <div class="small-box bg-secondary">
      <div class="inner">
        <h3>{{ reject_leave_count }}</h3>

        <p> Rejected leave</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="{% url 'emp_leave_views' 2 %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  
</div>
<table hidden="hidden">

  <tr>
    <th>S.no</th>
    <th>Date</th>

    <th>Time in</th>
    <th>Time out</th>
    <th>Total working hour</th>
  </tr>
{% for i in punch %}

  <tr>

  <td>{{i.id}}</td>
  <td>{{i.punch_date}}</td>

  <td id="punch_in">{{i.punch_in}}</td>
  <td>{{i.punch_out}}</td>
  <td>{{i.hours}}</td>

  </tr>
  {% endfor %}

</table>
{% endblock main_content %}

{% block custom_js %}
<script>
  
function out(){
  let output = document.getElementById('punch').value
  let today = new Date();
 

        
  date_dic={"time":today,"punchin":output}

  $.ajax({
    url:'http://127.0.0.1:8000/punchin/',
    type: 'POST',
    data:date_dic,

   success:function(data){

      window.location = "{% url 'employee_home' %}"
     },
  });

    }
function punchout(){
  
  let output = document.getElementById('punch_out').value
  let today = new Date();
  
        
  date_dic={"time":today,"punchout":output}

  $.ajax({
    url:'http://127.0.0.1:8000/punchout/',
    type: 'POST',
    data:date_dic,

   success:function(data){
  
      window.location = "{% url 'employee_home' %}"
     },
  })


}


</script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-messaging.js"></script>
<script>

    var firebaseConfig = {
        apiKey: "AIzaSyAa2J8MJTT0ykq6iV_oHWPSPe_9SazCNGE",
        authDomain: "notification-1a1a5.firebaseapp.com",
        projectId: "notification-1a1a5",
        storageBucket: "notification-1a1a5.appspot.com",
        messagingSenderId: "82591525914",
        appId: "1:82591525914:web:67e40a1eaaa0d84f6475a3",
    };
    firebase.initializeApp(firebaseConfig);
    const messaging=firebase.messaging();

    function IntitalizeFireBaseMessaging() {
        messaging
            .requestPermission()
            .then(function () {
                console.log("Notification Permission");
                return messaging.getToken();
            })
            .then(function (token) {
                console.log("Token : "+token);
                sendToServer(token);
            })
            .catch(function (reason) {
                console.log(reason);
            });
    }

    messaging.onMessage(function (payload) {
        console.log(payload);
        const notificationOption={
            body:payload.notification.body,
            icon:payload.notification.icon
        };

        if(Notification.permission==="granted"){
            var notification=new Notification(payload.notification.title,notificationOption);

            notification.onclick=function (ev) {
                ev.preventDefault();
                window.open(payload.notification.click_action,'_blank');
                notification.close();
            }
        }

    });
    messaging.onTokenRefresh(function () {
        messaging.getToken()
            .then(function (newtoken) {
                console.log("New Token : "+ newtoken);
                sendToServer(newtoken);
            })
            .catch(function (reason) {
                console.log(reason);
            })
    });

    function sendToServer(token){
         $.ajax({
                url:'http://127.0.0.1:8000/emp_fcm_save/',
                type:'POST',
                data:{token:token},
            })
            .done(function(response){
                if(response=="True"){
                    console.log("Token Save")
                }
                else{
                    console.log("Error in Token Save")
                }
            });
    }
    IntitalizeFireBaseMessaging();
</script>
<script>
  document.getElementById("myBtn1").addEventListener("click", function(){
    // script1 to run
  });
</script>

{% if mark != False %}
<script>
   Date.prototype.addHours= function(h){
    this.setHours(this.getHours()+h);
    return this;
}
  
  // Set the date we're counting down to
  var countDownDate = new Date().addHours(9);
  
  // Update the count down every 1 second
  var x = setInterval(function() {
  
    // Get today's date and time
    var now = new Date().getTime();
      
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
  
    
  
   
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    
    localStorage.setItem("hours", hours);
    localStorage.setItem("minutes", minutes);
    localStorage.setItem("seconds", seconds);
    // Retrieve
        document.getElementById("demo").innerHTML = localStorage.getItem( "hours" + "h "
        + "minutes" + "m " + "seconds" + "s ");
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML =  hours + "h "
    + minutes + "m " + seconds + "s ";
      
    // If the count down is over, write some text 
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
    }
  }, 1000);
  
  </script>
  {% endif %}
{% endblock custom_js %}