{% extends 'employee/base.html' %}
{% load static %}


{% block custom_css %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

{% endblock custom_css %}
{% block punch %}
<form  method="POST">
    {% csrf_token %}
  {% if punch.marked == "in" %}
<button type="button" id='punch' name="punchin" value="in" class="btn btn-danger" onclick="out()" >Punchin</button>
{% else %}
<button type="submit" id='punch_out' name="btn" value="out" class="btn btn-danger" onclick="punchout()" >Punchout</button>
{% endif %}
  </form>
  {% endblock punch %}
{% block main_content %}

<h2>Time in-out </h2>
<table>
  <tr>
    <th>S.no</th>
    <th>Date</th>

    <th>Time in</th>
    <th>Time out</th>
    <th>Total working hour</th>
  </tr>
{% for i in punch %}

  <tr>

  <td>{{i.id}}</td>
  <td>{{i.punch_date}}</td>

  <td id="punch_in">{{i.punch_in}}</td>
  <td>{{i.punch_out}}</td>
  <td>{{i.punch_out}}</td>

  </tr>
  {% endfor %}

</table>
{% endblock main_content %}

{% block custom_js %}
<script>
  
function out(){
       let btnShow = document.querySelector('button')
       
       let output = document.getElementById('punch').value
       console.log(output)

       alert(`${output}`)
       btnShow.style.display = 'none';
       let today = new Date();
        alert(`${today}`)
        let month = today.getMonth() + 1;
        let year = today.getFullYear();
        let date = today.getDate();
        let current_date = `${month}/${date}/${year}`;


        // output.innerText = current_date;
        let hours = today.getHours();
        let minutes = today.getMinutes();
        let seconds = today.getSeconds();
        let current_time = `${hours}:${minutes}:${seconds}`;
      document.getElementById("punch").classList.add("d-none");
        
        date_dic={"time":today,"punchin":output}

        $.ajax({
          url:'http://127.0.0.1:8000/punchin/',
          type: 'POST',
          data:date_dic

      })
      .done(function(response){
        console.log("ok")
      document.getElementById("punch").classList.add("d-none");
      
      })
    };

function punchout(){
  alert('punchout')
  let output = document.getElementById('punch_out').value
  let today = new Date();
  
        
  date_dic={"time":today,"punchout":output}

  $.ajax({
    url:'http://127.0.0.1:8000/punchout/',
    type: 'POST',
    data:date_dic
  })
  .done(function(response){
    alert('done')
    console.log("ok")
  document.getElementById("punch_out").classList.add("d-none");
  
  })

}



</script>
{% endblock custom_js %}