{% extends 'employee/base.html' %}


{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Python Team </h3>
                    </div>
                    <!-- /.card-header -->

                    
                               
                            
                  
                    </div>
                    <!-- /.card -->



                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-success">
                      

                        <div class="card-body">
                           <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>S.No</th>
                                        <th> Employee Name</th>
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Chat</th>
                                    </tr>
                                    </thead>
                                    
                                    {% for i in user %}
                                    <tr>
                                        <td>{{ i.id }}</td>
                                        <td>{{ i.first_name }}</td>
                                        <td>{{ i.phone }}</td>
                                        <td>{{ i.email }}</td>

                                        <td>
                                            <a href="{% url 'chat' %}?name={{i.username}}" class="btn btn-sm btn-primary">Chat</a>
                                        

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}

{% endblock custom_js %}