{% load static %}
{% block custom_css %}
<style>
  .dropbtn {
    margin: 13px;
    background-color: #6c757d;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #6c757d;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #6c757d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #313538}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #6c757d;
  }
</style>

{% endblock custom_css %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="#" class="brand-link">
        <img src="{% static 'dist/img/logo.png' %}" alt="" class="" height="90px" width="230px" >
        
        <!-- <span class="brand-text font-weight-light">Visiontrek</span> -->
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
     

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

                <li class="nav-item">
                  
                  <a href="{% url 'employee_home' %}" class="nav-link {% if request.path == create_meeting %} active {% endif %}">
                    <style>
                      i{
                        color: white;
                      }
                    </style>
                    <i class="nav-icon fas fa-user-graduate"></i>
                    <p>
                      Dashboard
                    </p>
                  </a>
                </li>
                
          
            
       
            <div class="sidenav" >
                <button class="dropdown-btn"><i class="fa fa-users" aria-hidden="true"></i>
                  Team 
                  <i class="fa-solid fa-people-group"></i>
                </button>
              <div class="dropdown-container">
                <a href="{% url 'python_team' 'python' %}">Python</a>
                <a href="{% url 'python_team' 'java' %}">Java</a>
                <a href="{% url 'python_team' 'react' %}">React</a>
                <a href="{% url 'python_team' 'c++' %}">C++</a>
              </div>
            </div>
            <div class="sidenav" >
              <button class="dropdown-btn"><i class="fa fa-plus-circle" aria-hidden="true"></i>
                Leaves 
                <i class="fa fa-caret-down"></i>
              </button>
            <div class="dropdown-container">
              
              <a href="{% url 'emp_leave_apply' %}">Apply Leave</a>
              <a href="{% url 'emp_leave_view' %}">Leave Details </a>
                    
            </div>
          </div>
          <div class="sidenav" >
            <button class="dropdown-btn"><i class="fa fa-tasks" aria-hidden="true"></i>
              Daily task 
              <i class="fa fa-caret-down"></i>
            </button>
          <div class="dropdown-container">
            
            <a href="{% url 'add_task' %}">Add New  Task</a>
            <a href="{% url 'emp_task_view' %}">All Task </a>
                  
          </div>
        </div>

        <div class="sidenav" >
          <button class="dropdown-btn"><i class="fa fa-briefcase" aria-hidden="true"></i>
            Project 
            <i class="fa fa-caret-down"></i>
          </button>
        <div class="dropdown-container">
          
          <a href="{% url 'add_project' %}">Add New  Project</a>
          <a href="{% url 'show_project' %}">All Project </a>
          <a href="{% url 'active_project' %}">Active Project </a>
          <a href="{% url 'complete_project' %}">Completed Project </a>

                
        </div>
      </div>


      <div class="sidenav" >
        <button class="dropdown-btn"><i class="fa fa-flag" aria-hidden="true"></i>
          Reporting 
          <i class="fa fa-caret-down"></i>
        </button>
      <div class="dropdown-container">
        
        <a href="{% url 'reporting' %}">Manage reporting </a>
        <a href="#">reporting to  </a>
        <a href="{% url 'report_by' %}">reporting by</a>      
      </div>
      </div>
        
          <style>
            body {
              font-family: "Lato", sans-serif;
            }
            .sidenav .i{
              align-items: center;
              justify-content: flex-start;
            
            }
            /* Style the sidenav links and the dropdown button */
            .sidenav a, .dropdown-btn {
              padding: 6px 8px 6px 16px;
              text-decoration: none;
              font-size: 20px;
              color: #818181;
              display: block;
              border: none;
              background: none;
              width: 100%;
              text-align: left;
              cursor: pointer;
              outline: none;
            }
            
            /* On mouse-over */
            .sidenav a:hover, .dropdown-btn:hover {
              color: #f1f1f1;
            }
            
            /* Main content */
            .main {
              margin-left: 200px; /* Same as the width of the sidenav */
              font-size: 20px; /* Increased text to enable scrolling */
              padding: 0px 10px;
            }
            
            /* Add an active class to the active dropdown button */
            .active {
              background-color: green;
              color: white;
            }
            
            /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
            .dropdown-container {
              display: none;
              background-color: #262626;
              padding-left: 8px;
            }
            
            /* Optional: Style the caret down icon */
            .fa-caret-down {
              float: right;
              padding-right: 8px;
            }
            
            /* Some media queries for responsiveness */
            @media screen and (max-height: 450px) {
              .sidenav {padding-top: 15px;}
              .sidenav a {font-size: 18px;}
            }
            </style>
          <script>
                var dropdown = document.getElementsByClassName("dropdown-btn");
                var i;
                
                for (i = 0; i < dropdown.length; i++) {
                  dropdown[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                      dropdownContent.style.display = "none";
                    } else {
                      dropdownContent.style.display = "block";
                    }
                  });
                }
              
            </script>
  

          
            <li class="nav-item">
              <i class="fa-solid fa-gear"><button class="dropbtn">Settings</button></i>
              <a href="#" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                
            </a>
          </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
