{% extends 'base.html' %}

{% block main_content %}
<form method="POST" >
    {% csrf_token %}
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
  {{message}}
        </div>
    </div>
    {% endfor %}
{% endif %}
    <div class="card-header">
        <h1 class="card-title" >Edit Data</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                
                    <label class="form-label">First Name <span class="text-red">*</span></label>
                    <input type="text" class="form-control" {% if users.first_name %}value="{{ users.first_name }}"{% else %} placeholder="Type your first name" {% endif %} name="fname" required >
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="form-label">Last Name <span class="text-red">*</span></label>
                    <input type="text" class="form-control" {% if users.last_name %}value="{{ users.last_name }}"{% else %} placeholder="Type your last name" {% endif %}  name="lname" required >
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Email address <span class="text-red">*</span></label>
                    <input type="email" class="form-control" {% if users.email %}value="{{ users.email }}"{% else %} placeholder="Enter your Address" {% endif %}  name="Email"required >
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Date and Time <span class="text-red">*</span></label>
                    <input type="datetime-local" class="form-control" {% if users.datetime %} value = "{{users.datetime|date:'Y-m-d'}}T{{users.datetime|time:'H:i'}}"
                    {% else %} placeholder="Enter Date time for interview" {% endif %} name="datetime" required >
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Domain Applied for <span class="text-red">*</span></label>
                    <select class="form-control form-select select2" data-bs-placeholder="Select" name="domain_id" >
                        {% for dom in domain %}
            
                      
                          <option value="{{ dom.id }}"{% if dom.name == users.domain_interview %} selected {% endif %} >{{ dom.name}}</option>
                  
                       
                          {% endfor %}
                        </select>
                </div>
            </div>

             <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Position Applied for <span class="text-red">*</span></label>
                    <select class="form-control form-select select2" data-bs-placeholder="Select" name="position" >
                        <option selected>Select Position</option>
                        {% for dom in pos %}
                
                      
                        <option value="{{ dom.id }}"{% if dom.position == users.position %} selected {% endif %} >{{ dom.position}}</option>
                        {% endfor %}
                          
                  
                        
                        </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Select Interviewer <span class="text-red">*</span></label>
                    <select class="form-control form-select select2" data-bs-placeholder="Select Interviewer" name="interview_id" >
                        <option value="" selected>Select Interviewer</option>
            
                        {% for dom in new_user %}
                
                      
                        <option value="{{ dom.id }}"{% if dom.username == users.user %} selected {% endif %} >{{ dom.username}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Address <span class="text-red">*</span></label>
                    <input type="text" class="form-control" {% if users.address %}value="{{ users.address }}"{% else %} placeholder="Enter your Address" {% endif %}  name="address"required >
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="form-label">Phone <span class="text-red">*</span></label>
                    <input type="text" class="form-control" {% if users.phone %}value="{{ users.phone }}"{% else %} placeholder="Enter your Phone number" {% endif %} name="phone" >
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="form-label">Upload CV <span class="text-red">*</span></label>
                    <input type="file" class="form-control" {% if users.user_cv %}value="{{ users.user_cv.url }}"{% else %} placeholder="upload cv" {% endif %} name="uploadfile">
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
        </div>
    </div>
</div>
</form>

{% endblock main_content %}