{% extends 'base.html' %}

{% block page_title %}
    Leave Apply by Employee
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
<form action="" method="post">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Leave Apply by Employee</h3>
                        </div>
                        <!-- /.card-header -->

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Employee ID</th>
                                    <th>Employee Name</th>
                                    <th>Leave Date</th>
                                    <th>Leave Message</th>
                                    <th>Applied On</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                {% for leave in leaves %}
                                <tbody>
                                <tr>
                                    <td>{{ leave.id }}</td>
                                    <td>{{ leave.emp_id_id }}</td>
                                    <td>{{ leave.emp_id.first_name }}</td> 
                                    <td>{{ leave.leave_date }}</td>
                                    <td>{{ leave.leave_message }}</td>
                                    <td>{{ leave.created_at }}</td>
                                    <td>
                                        {% if leave.leave_status == 0 %}
                                            <a href="{% url 'emp_leave_approve' leave_id=leave.id %}" class="btn btn-success approve">Approve</a>
                                            <a href="{% url 'emp_leave_reject' leave_id=leave.id %}" class="btn btn-danger reject">Reject</a>
                                        {% elif leave.leave_status == 1 %}
                                            <button class="btn btn-warning" disabled="disabled">Approved</button>
                                        {% else %}
                                            <button class="btn btn-danger" disabled="disabled">Rejected</button>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                                </tbody>
                                {% endfor %}

                            </table>
             <input type="hidden" name="student_id" class="form-control" id="student_id">
             <span id="name_span"></span>
                        </div>
                    
                    </div>
                    <!-- /.card -->

                </div>
            </div>
</form>
        </div><!-- /.container-fluid -->
      </section>

      

  {% endblock main_content %}


  {% block custom_js %}
<script>
    $(".approve").click(function(){
        var id_emp=$(this).parents("tr").children("td:eq(1)").text();
        alert('inside')
        var emp_name=$(this).parents("tr").children("td:eq(2)").text();
        var text = "Accepted";
        

        sendNotification(id_emp,emp_name,text);
    });
  
    function sendNotification(id_emp,emp_name,text){
             $.ajax({
              url:'http://127.0.0.1:8000/new/',
              type:'POST',
              data:{id_emp:id_emp,emp_name:emp_name,text:text},
          })
          .done(function(response){
              if(response=="True"){
                  alert("Message Sent");
              }
              else{
                  alert("Failed to Send Message");
              }
          });
    }
  
</script>
  {% endblock custom_js %}