{% extends "base.html" %}

{% block main_content %}

<div class="row">
    <div class="col-lg-3 col-6 mt-5">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ count_candidate }}</h3>

          <p>Total Candidate</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'total_candidate' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6 mt-5">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{ select_count }}</h3>

          <p>Total Accepted</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'selected' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    
    <div class="col-lg-3 col-6 mt-5 ">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{ reject_count }}</h3>

          <p>Total Rejected</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'rejected' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6 mt-5 ">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{ hold_count }}</h3>

          <p>Total Hold</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'hold' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
</div>




{% endblock main_content %}