{% extends "base.html" %}

{% block main_content %}

<div class="row">

    <div class="row">
        <div class="col-sm-10 offset-1">
          <br><br>
         <h1 class="text-center"> Dashboard</h1>
          <table class="pass">
            <style>
              .pass{
                margin-left: 150px;
              }
              td, th{
                padding: 10px;
              }
            </style>
            <table class="table" >
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Meeting Agenda</th>
                <th scope="col">Date and time</th>
                <th scope="col">Select Meeting participant</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <a href="{{ my_bill.url }}">{{ my_bill.name }}</a>
             {% for st in office %}
              <tr>
                <th scope="row">{{st.id}}</th>
                <td>{{st.Meeting_Agenda}}</td>
                <td>{{st.datetime}}</td>
                <td>{{st.user}}</td>
                <td>{{st.Description}}</td>
                <td>
<a href="{% url 'edit_offc_data' %}?id={{st.id}}">Edit Data</a>

<a href="#deleteEmployeeModal-{{forloop.counter}}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>Delete</a>
<div id="deleteEmployeeModal-{{forloop.counter}}" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">						
          <h4 class="modal-title">Delete Employee</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">					
          <p>Are you sure you want to delete these Records?</p>
          <p class="text-warning"><small>{{st.first_name}} Information are delete</small></p>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <a href="{% url 'delete_data_offc' %}?id={{st.id}}" type="submit" class="btn btn-danger">Delete</a>
        </div>
</td>
                
                {% endfor %}
           
                    <!-- <a href="{% url 'delete_data' %}?id={{st.id}}" type="submit" class="btn btn-danger">Delete</a> -->


  <!-- Modal -->
              
              
     
        </div>
       </div>

{% endblock main_content %}