{% extends "base.html" %}

{% block main_content %}



    <div class="row">
        <div class="col-sm-10 offset-1">
          <br><br>
         <h1 class="text-center"> Total candidate</h1>
          <table class="pass">
            <style>
              .pass{
                margin-left: 150px;
              }
              td, th{
                padding: 10px;
              }
            </style>
            <table class="table" >
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">city</th>
                <th scope="col">Date and time</th>
                <th scope="col">Domain Applied for</th>
                <th scope="col">Phone</th>
                <th scope="col">Interviewer</th>
                <th scope="col">Candidate CV</th>
                <th scope="col">Possition applied for</th>
               
              </tr>
            </thead>
            <tbody>
              <a href="{{ my_bill.url }}">{{ my_bill.name }}</a>
             {% for st in candidate %}
              <tr>
                <th scope="row">{{st.id}}</th>
                <td>{{st.first_name}}</td>
                <td>{{st.email}}</td>
                <td>{{st.address}}</td>
                <td>{{st.datetime}}</td>
                <td>{{st.domain_interview}}</td>
                <td>{{st.phone}}</td>
                <td>{{st.user}}</td>
                <td> {% if st.user_cv %}
                  <a href="{{ st.user_cv.url }}">{{ st.first_name }}</a>
                  {% else %} "no cv" {% endif %}</td>
                <td>{{st.position}}</td>
                 
              </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>
       </div>

{% endblock main_content %}